<ion-header>
    <ion-toolbar>
        <ion-title>triagem</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="itens">
        <ion-row>
            <ion-col>
                <ion-button shape="round" fill="clear" size="large">
                    <ion-icon id="icone" name="library-outline"></ion-icon>
                </ion-button>
                <h4>Escola</h4>
            </ion-col>
            <ion-col>
                <ion-button shape="round" fill="clear" size="large">
                    <ion-icon id="icone" name="business-outline"></ion-icon>
                </ion-button>
                <h4>Trabalho</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button shape="round" fill="clear" size="large">
                    <ion-icon id="icone" name="cash-outline"></ion-icon>
                </ion-button>
                <h4>Pagar Contas</h4>
            </ion-col>
            <ion-col>
                <ion-button shape="round" fill="clear" size="large">
                    <ion-icon id="icone" name="beaker-outline"></ion-icon>
                </ion-button>
                <h4>Remédio</h4>
            </ion-col>
        </ion-row>
    </div>

</ion-content>